<!DOCTYPE html>
<html>
<head>
  <title>Yowl</title>
  <script type="text/javascript">
    window.yowlAssets = {
      loginImage: "<%= asset_path("signup_illustration.png") %>",
      genericImage: "<%= asset_path("generic_image.png") %>",
      genericUser: "<%= asset_path("generic_user.png") %>",
      wahFung: "<%= asset_path("wah_fung.png") %>",
      chaChan: "<%= asset_path("cha_chan.png") %>",
      mcdonalds: "<%= asset_path("mcdonalds.png") %>",
      whiteBear: "<%= asset_path("white_bear.png") %>",
      shakeShack: "<%= asset_path("shake_shack.png") %>",
      lali: "<%= asset_path("lali.png") %>",
      zero: "<%= asset_path("0.png") %>",
      one: "<%= asset_path("1.png") %>",
      two: "<%= asset_path("2.png") %>",
      three: "<%= asset_path("3.png") %>",
      four: "<%= asset_path("4.png") %>",
      five: "<%= asset_path("5.png") %>"
    };

    window.backgrounds = {
        4: "<%= asset_path("restaurant4.jpg") %>",
        2: "<%= asset_path("restaurant2.jpg") %>",
        3: "<%= asset_path("restaurant3.jpg") %>",
    };

  </script>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDj4BH7FgACnMESrJT_ctTxoTF9Q2VD__0&libraries=places" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
