<!DOCTYPE html>
<html>
<head>
  <title>FullStackProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.yowlAssets = {
      loginImage: "<%= image_url("signup_illustration.png") %>",
      genericImage: "<%= image_url("generic_image.png") %>",
      genericUser: "<%= image_url("generic_user.png") %>",
      wahFung: "<%= image_url("wah_fung.png") %>",
      chaChan: "<%= image_url("cha_chan.png") %>",
      mcdonalds: "<%= image_url("mcdonalds.png") %>",
      whiteBear: "<%= image_url("white_bear.png") %>",
      shakeShack: "<%= image_url("shake_shack.png") %>",
      lali: "<%= image_url("lali.png") %>",
      zero: "<%= image_url("0.png") %>",
      one: "<%= image_url("1.png") %>",
      two: "<%= image_url("2.png") %>",
      three: "<%= image_url("3.png") %>",
      four: "<%= image_url("4.png") %>",
      five: "<%= image_url("5.png") %>"
    }

  </script>

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDj4BH7FgACnMESrJT_ctTxoTF9Q2VD__0" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>

</head>
<body>

<%= yield %>

</body>
</html>
